<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>jQuery EasyUI</title>
    <link rel="stylesheet" type="text/css"
          href="/statics/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/statics/themes/icon.css">
    <script type="text/javascript" src="/statics/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/statics/js/jquery.easyui.min.js"></script>
    <script src="/statics/locale/easyui-lang-zh_CN.js"></script>
</head>
<body>
<div>
    <!-- 添加单行文本框 -->
    <div class="aLongitude">
        <label for="name">A地点经度:</label> <input class="easyui-validatebox"
                                                type="text" id="aLongitude" name="aLongitude"></input>
    </div>
    <!-- 添加单行文本框 -->
    <div class="aLatitude">
        <label for="name">A地点纬度:</label> <input class="easyui-validatebox"
                                                type="text" id="aLatitude" name="aLatitude"></input>
    </div>
    <!-- 添加单行文本框 -->
    <div class="bLongitude">
        <label for="name">B地点经度:</label> <input class="easyui-validatebox"
                                                type="text" id="bLongitude" name="bLongitude"></input>
    </div>
    <!-- 添加单行文本框 -->
    <div class="bLatitude">
        <label for="name">B地点纬度:</label> <input class="easyui-validatebox"
                                                type="text" id="bLatitude" name="bLatitude"></input>
    </div>
    <!-- 添加单行文本框 -->
    <div class="abDistance">
        <label for="name">AB地点的距离:</label> <input class="easyui-validatebox"
                                                  type="text" id="abDistance" name="abDistance"></input>
    </div>
    <div style="margin-left: 200px ;">
        <!-- 添加按钮 -->
        <a href="#" class="easyui-linkbutton" onclick="Calculate()">Calculate</a>
    </div>
</div>
<script type="text/javascript">
    //csrf认证生明处理
    $.ajaxSetup({
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
        }

    });

    function Calculate() {
        //调试;
        //debugger;
        var aLongitude = $('#aLongitude').val();
        //console.log(aLongitude);
        var aLatitude = $('#aLatitude').val();
        var bLongitude = $('#bLongitude').val();
        var bLatitude = $('#bLatitude').val();
        $.ajax({
            type: 'POST',
            url: '/testTool/generation/calculateHaversine',
            data: {
                'aLongitude': aLongitude,
                'aLatitude': aLatitude,
                'bLongitude': bLongitude,
                'bLatitude': bLatitude
            },
            success: function (data) {
                //alert("生成成功！");
                document.getElementById("abDistance").value = "";
                document.getElementById("abDistance").value = data;
                //转json
                //eval("(" + data + ")");
                //$.parseJSON(data);
            },
            error: function () {
                alert("计算失败！");
            }
        });
    }
</script>
</body>
</html>